doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    title Astrocoders
  body
    != yield

    script(src="scripts/jquery-2.1.4.js")
    script(src="scripts/jquery.easings.min.js")
    script(src="scripts/jquery.fullPage.js")
    script(src="scripts/main.js")