nav#menu
  a.logo(href="#firstSection") Astrocoders

  ul 
    li
      a(href="#") About Us
    li 
      a(href="#") Portfolio
    li 
      a(href="#") Contact
    li
      a(href="#secondSection") Our services

#content
  section#index.content-centered(data-anchor="firstSection")
    div
      h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      p Debitis odio voluptatem voluptates doloribus!
  section#our-services.with-asides(data-anchor="secondSection")
    aside
      h1 Our services
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam, voluptates dolorem nisi, voluptatem dolor placeat odit ex ipsum qui vel magni debitis! At maiores, excepturi ea voluptatum dolorum reprehenderit.
    aside.cosmonaut
  section#about-us.with-asides(data-anchor="3rdSection")
    aside
      h1 About us
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam, voluptates dolorem nisi, voluptatem dolor placeat odit ex ipsum qui vel magni debitis! At maiores, excepturi ea voluptatum dolorum reprehenderit.
    aside.space
  section#why-meteor.with-asides(data-anchor="4thSection")
    aside
      h1 Why Meteor?
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam, voluptates dolorem nisi, voluptatem dolor placeat odit ex ipsum qui vel magni debitis! At maiores, excepturi ea voluptatum dolorum reprehenderit.
    aside.meteor
  section#testimonials.content-centered(data-anchor="5thSection")
    div
      aside
        img(src="https://robohash.org/avatar1.png?200x200", alt="")
        h3 Astrocoders give me a real look at the universe of mobile apps
      aside
        img(src="https://robohash.org/avatar2.png?200x200", alt="")
        h3 Astrocoders? Stellar company!
      aside
        img(src="https://robohash.org/avatar3.png?200x200", alt="")
        h3 With support from Astrocoders I became a millionaire.
  section#hire-us.with-asides(data-anchor="6thSection")
    aside.hire-us
    aside
      h1 Hire us
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam, voluptates dolorem nisi, voluptatem dolor placeat odit ex ipsum qui vel magni debitis! At maiores, excepturi ea voluptatum dolorum reprehenderit.