.empty-space
  background url('/images/space.jpg') no-repeat 50% 50%
  background-size cover
  height: 100%
  text-align center
  color: #fff
  a
    border 1px solid #fff
    padding: 10px;
    font-size: 20px
    color: #fff
    text-decoration: none
  a:hover
    border 1px solid #fff
    padding: 10px;
    font-size: 20px
    color: #000
    background-color: #fff
    text-decoration: none
