anim-time = .5s
translate-base = 300px
#team-wrapper, #services-article
  overflow hidden

  .flex-grid-item
    @media (min-width: medium-screen)
      transition transform anim-time , opacity anim-time
      transition-timing-function cubic-bezier(0.56,-0.05, 0.38, 0.91)
      opacity 0

      &:first-child
        transform translate3d(-1 * translate-base, 0, 0) scale(.5)

      &:last-child
        transform translate3d(translate-base, 0, 0) scale(.5)

      &:not(:first-child):not(:last-child)
        transform translate3d(0, translate-base, 0) scale(.5)

  .flex-grid-item.active
    transform translate3d(0, 0, 0) scale(1) !important
    opacity 1 !important
