.flex
  content-full-align()
  flex-direction row
  height 100%
  width 100%
  max-width 80%


.flex-grid
  height 100%
  width 100%
  display flex
  flex-flow row wrap
  justify-content space-around

.flex-wrip-no-wrap
  flex-flow row no-wrap

.flex-grid-baseline
  align-items baseline

.flex-grid-center
  content-full-align()

.flex-grid-item
  padding 5px
  margin-top 10px

.stretch
  align-items stretch

.center
  align-items center

.center-self
  align-self center

.article-wrapper
  > h1
    padding 20px
    margin 0

  .flex-grid, .flex
    padding 20px

  article
    height 90%


@media all and (max-width: medium-screen)
  .article-wrapper
    > h1
      padding-bottom 0

  .flex-grid
    flex-direction column

    padding 0 !important

    .flex-grid-item
      flex 1

      &:not(:first-child)
        margin 40px 0 40px 0 !important
        padding 10px 0 10px 0

      &:first-child
        margin-bottom 40px !important
        padding-bottom 10px
