form
  display flex
  flex-direction column

  input, button, label.select
    flex-grow 1
    padding 20px
    margin 5px 0 5px 0
    font-weight bold
    background transparent
    border 2px solid #fff
    color #fff
    placeholder-color(@color)

  label.select
    border none

    select
      float right
      background-color transparent
      color #fff
      option
        background-color transparent

    &.fake
      display flex
      justify-content space-between
      align-items center

      div.fake-select
        padding 20px
        border 2px solid #fff
        position relative

        span
          color #fff
          transition color ease-out .2s

          &.selected
            color red

        span:not(:first-child)
          padding-left 10px


  button
    margin-top 25px
    overflow hidden
    position relative

    &:before
      content 'Yes. I want the best.'
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      content-full-align()
      background-color #4bf
      transform translateY(100%)
      transition transform .3s ease-out

  button:hover
    &:before
      transform translateY(0%)
