header
  position fixed
  top 0
  left 0
  right 0
  height 54px
  
  nav
    font-size 1rem
    display flex
    flex-direction row
    justify-content space-between
    align-content center
    transition background-color .3s ease-in
    
    .logo
      flex-grow 1
      img, p
        padding-left 20px
    .links
      justify-content flex-end
      display flex
      flex-grow 1
      a
        align-self center
        padding-right 20px
    a, a:hover, a:active
      text-decoration none
      color #fff
    
  nav.dark
    background-color #fff !important
    a, a:hover, a:active
      color #000


@media (max-width: 400px)
  .links
    display none !important


