#hero-wrapper
  position relative
  width 100%
  height 100%
  background-color $bg-color-hero

  #particles
    position absolute
    top 0
    left 0
    width 100%
    height 100%

  .hero
    width 100%
    height 100%
    content-full-align()

    .content
      text-align center
      color $text-color-hero

      h1
        text-transform uppercase
        letter-spacing 15px
