#services-article
  // full-background('/images/starful-night-sky-1.jpg')
  color #fff
  background-color #0093AF

  h1
    margin 0
    padding 20px

#services
  .flex-grid-item
    font-size 1rem
    text-align center
    margin 20px
