#services-article
  // full-background('/images/starful-night-sky-1.jpg')
  color $text-color-services
  background-color $bg-color-services

  h1
    margin 0
    padding 20px

#services
  .flex-grid-item
    font-size 1rem
    text-align center
    margin 20px
