medium-screen = 600px
z-index-1 = 100
z-index-2 = 200
z-index-3 = 300
z-index-4 = 400
$z-index-5 = 500
$z-index-max = 10000

// I'm not the best color-picker person so someone must change this

$bg-color-default                 = #fafafa
$bg-color-navbar                  = #fff
$bg-color-hero                    = #232741
$bg-color-services                = #0093AF
$bg-color-why-meteor              = #DE4F4F
$bg-color-projects-skew           = rgba(8, 12, 102, 0.71)
$bg-color-projects                = inherit
$bg-color-hire-us-mask            = rgba(215,250,48, .5)
$bg-color-hire-us-submit-btn      = tomato

$bg-image-team                    = '/images/starful-night-sky.jpg'

$text-color-default               = #222
$text-color-nav-links             = #222
$text-color-hero                  = #fff
$text-color-services              = #fff
$text-color-projects              = #fff
$text-color-hire-us               = #fff
