#why-meteor-wrapper
  background-color $bg-color-why-meteor
  color #fff

  #why-meteor
    .meteor-logo
      width 40%

      img
        width 100%

    .sayings
      width 60%

    a
      color #232741
      &:hover
        color #000

    .hire-us
      font-size 1.4rem
