medium-screen = 600px

@import "_nib"
@import "_html5_clean_up"
@import "_helpers"
@import "_form"
@import "_flex"

body, html
  color #222
  background-color #fafafa
  font-size 1em
  font-family 'Open Sans', sans-serif
  line-height 1.4
  height 100%
  width 100%

@media all and (max-width: medium-screen)
  html
    font-size 10px

h1, h2, h3
  text-transform uppercase
  letter-spacing 10px

section, article, .article-wrapper
  height 100%
  width 100%

article:not(:first-child)
  display flex
  justify-content center
  flex-wrap wrap

  h1
    flex 0 1 100%
    max-width 80%

  .text-center
    text-align center

  .text-right
    text-align right

  .text-left
    text-align left

  .padding-top
    padding-top 45px

  .padding-right
    padding-right 20px

  .padding-left
    padding-left 20px

  .padding
    padding 15px

.items-container
  padding 20px
  width 100%
  display: flex
  flex-direction row
  flex-wrap no-wrap
  justify-content space-around

  .item-50
    width 50%
    flex 1

@import "_header"
@import "_hero"
@import "_about_us"
@import "_hire_us"
@import "_404"
@import "_why_meteor"
@import "_services"
@import "_quotes"
@import "_animations"
