@import "_nib"
@import "_html5_clean_up.styl"

body, html
  color #222
  font-size 1em
  font-family 'Open Sans', sans-serif
  line-height 1.4
  height 100%
  width 100%

section, article
  height: 100%

article
  display flex
  flex-direction row
  justify-content center
  align-content center
  p
    padding 10px

.stretch-item
  align-items stretch

.center-item
  align-items center

.article-image
  align-self center

@import "_header.styl"
@import "_hero.styl"
@import "_about_us.styl"


