#team-wrapper
  background-color $bg-color-hero
  full-background($bg-image-team)
  color #fff
  padding-bottom 100px
  height auto !important

.medson-picture
  img
    height 190px
    width 190px
  @media (max-width: medium-screen)
    img
      height 60%
      width 100%
