header
  position fixed
  top 0
  left 0
  right 0
  height 54px
  z-index $z-index-max

  nav
    font-size 1rem
    display flex
    flex-direction row
    justify-content space-between
    align-content center
    transform translate3d(0, -100%, 0)
    transition transform .6s ease-out

    .logo
      flex-grow 1
      img, p
        padding-left 20px

    .links
      justify-content flex-end
      display flex
      flex-grow 1
      a
        align-self center
        padding-right 20px

    a, a:hover, a:active
      text-decoration none
      color $text-color-nav-links

  nav.active
    @media (min-width: medium-screen)
      background-color $bg-color-navbar !important
      transform translate3d(0, 0, 0)
