#our-stack-wrapper
  background-color $bg-color-why-meteor
  color #fff

  #our-stack
    a
      color #000
      &:hover
        color #000

    .hire-us
      font-size 1.4rem

    h4
      margin-bottom 0
      width 120px

      @media (max-width: medium-screen)
        width 50px

    .stack-logo
      height 80px
      display flex
      align-items center
      justify-content center

      img
        width 80px

        @media (max-width: medium-screen)
          width 40px
