#services-article
  color $text-color-services
  background-color $bg-color-services

  h1
    margin 0
    padding 20px

#services
  .flex-grid-item
    font-size 1rem
    text-align center
    margin 20px
    max-width 25%

    @media (max-width: medium-screen)
      max-width none
      margin 0

  .service
    height 300px
    background-size 80% auto
    background-repeat no-repeat
    background-position center

    @media (max-width: medium-screen)
      background-size 35% auto
      height 60px

  .mobile-apps
    background-image url($bg-image-mobile-apps)

  .web-apps
    background-image url($bg-image-web-apps)

  .both-apps
    background-image url($bg-image-both-apps)