article#aboutus.about_us.padding-top
  h1 About Us
  .flex
    .item.center.center-self
      img(src="/images/about_us/andrew.jpg", alt="Andrew Sanchez")
      h2 Andrew Sanchez
      p Hello Andrew here design operator
    .item.center.center-self
      img(src="/images/about_us/gabriel.jpg", alt="Gabriel Rubens")
      h2 Gabriel Rubens
      p Hello Gabriel here code operator
    .item.center.center-self
      img(src="/images/about_us/guilherme.jpg", alt="Guilheme Decampo")
      h2 Guilherme Decampo
      p Hello Guilherme here code operator

