.article-wrapper#team-wrapper
  h1 Team
  article#aboutus.about_us.padding-top
    .flex-grid
      .flex-grid-item.center.center-self.padding
        img(src="/images/about_us/andrew.jpg", alt="Andrew Sanchez")
        h2 Andrew Sanchez
        p Designer
      .flex-grid-item.center.center-self.padding
        img(src="/images/about_us/gabriel.jpg", alt="Gabriel Rubens")
        h2 Gabriel Rubens
        p Fullstack JavaScript Developer
      .flex-grid-item.center.center-self.padding
        img(src="/images/about_us/guilherme.jpg", alt="Guilheme Decampo")
        h2 Guilherme Decampo
        p Fullstack JavaScript Developer
