.article-wrapper#team-wrapper
  h1 Team
  article#aboutus.about_us.padding-top
    .flex-grid
      .flex-grid-item.padding
        img.max-width(src="/images/about_us/guilherme.jpg", alt="Guilheme Decampo")
        h2 Guilherme Decampo
        p Head of Business Development
      .flex-grid-item.padding
        img.max-width(src="/images/about_us/yuri.jpg", alt="Yuri Fabris")
        h2 Yuri Fabris
        p Fullstack JavaScript Developer
      .flex-grid-item.padding
        img.max-width(src="/images/about_us/gabriel.jpg", alt="Gabriel Rubens")
        h2 Gabriel Rubens
        p Head of Research and Development
      .flex-grid-item.padding
        img.max-width(src="/images/about_us/hugo.jpg", alt="Hugo Luigi")
        h2 Hugo Luigi
        p Designer UX/UI
      .flex-grid-item.padding
        img.max-width(src="/images/about_us/judson.jpg", alt="Judson Silva")
        h2 Judson Silva
        p Front end developer
      .flex-grid-item.padding
        img.max-width(src="/images/about_us/max.jpg", alt="Max Josino")
        h2 Max Josino
        p Designer UX/UI
