#hero-wrapper
  article#hero.hero
    .content
      h1 Astrocoders Go Beyond
      h2 Outerspace innovation in web and mobile application development
  
  #particles

script(src='/scripts/particles.js')
script(src='/scripts/hero.js')
