#hero-wrapper
  article#hero.hero
    .content
      img(src="/images/hero/logo.png", alt="Astrocoders Logo")
      h1 Astrocoders Go Beyond
      h4 Outerspace innovation in web and mobile application development
  #particles

script(src='/scripts/particles.js')
script(src='/scripts/hero.js')
