#contact-wrapper
  #ytplayer.contact-item

  article#contact.padding-top.contact-item
    .content
      h1 Hire Us
      .hire-us-form-container
        form(action=hireUsFormAction
          method="post" id="hireUsForm"
          name="mc-embedded-subscribe-form"
          class="validate" target="_blank")

          input(name="name" placeholder="Name" required)
          input(name="email" placeholder="Email" required)
          textarea(name="subject" placeholder="What do you want to build ?" required)

          button(data-txt-hover="Yes. I want the best.") Send

!= partial("/_shared/analytics")
!= partial("/_shared/waypoints")

script.
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  var playerWrapper = document.querySelector('#contact-wrapper');
  function onYouTubePlayerAPIReady() {
    if(checkMobile()) return false;
    player = new YT.Player('ytplayer', {
      height: playerWrapper.clientHeight,
      width: playerWrapper.clientWidth,
      playerVars: {
        controls: 0,
        rel: 0,
        showinfo: 0
      },
      events: {
        'onReady': playPlayer,
        'onStateChange': playOnStateChange,

      }
    });

    playerWrapper = null;
  }

  function playPlayer(event) {
    event.target.loadVideoById({
      videoId: 'OnoNITE-CLc',
      startSeconds: 87,
      endSeconds: 115,
      suggestedQuality: 'large'
    });
    event.target.setVolume(0);
  }

  function playOnStateChange(event) {
    if(event.data === YT.PlayerState.ENDED){
      playPlayer(event);
    }
  }

  function checkMobile() {
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
      navigator.userAgent)) {
     return true;
    }
  }

script(src="/scripts/hire-us-video.js")
