#contact-wrapper
  #ytplayer.contact-item
    
  article#contact.padding-top.contact-item
    .content
      h1.padding-left Hire Us
      .padding-left
        form
          input(name="name" placeholder="Nome")
          input(name="email" placeholder="email")
          button Enviar

!= partial("/_shared/analytics")
!= partial("/_shared/waypoints")

script.
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  var playerWrapper = document.querySelector('#contact-wrapper');
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: playerWrapper.clientHeight,
      width: playerWrapper.clientWidth,
      videoId: 'OnoNITE-CLc',
      playerVars: {
        controls: 0,
        rel: 0,
        showinfo: 0,
        loop: true
      }
    });

    playerWrapper = null;
  }
script(src="/scripts/hire-us-video.js")