.article-wrapper#our-stack-wrapper
  h1 Our Stack
  article#our-stack
    .flex.flex-column

      .flex-only
        .flex-grid-item.padding.text-center
          .stack-logo
            img(src="/images/stack/meteor.png", alt="Meteor" )
          h4 Meteor
        .flex-grid-item.padding.text-center
          .stack-logo
            img(src="/images/stack/mongodb.png", alt="MongoDB" )
          h4 MongoDB
        .flex-grid-item.padding.text-center
          .stack-logo
            img(src="/images/stack/react.png", alt="React" )
          h4 React
        .flex-grid-item.padding.text-center
          .stack-logo
            img(src="/images/stack/apollo.png", alt="Apollo" )
          h4 Apollo
        .flex-grid-item.padding.text-center
          .stack-logo
            img(src="/images/stack/react-native.png", alt="React Native" )
          h4 React Native

      .flex-only
        .flex-grid-item.padding.text-center
          .stack-logo
            img(src="/images/stack/redux.png", alt="Redux" )
          h4 Redux
        .flex-grid-item.padding.text-center
          .stack-logo
            img(src="/images/stack/webpack.png", alt="Webpack" )
          h4 Webpack
        .flex-grid-item.padding.text-center
          .stack-logo
            img(src="/images/stack/graphql.svg", alt="Graphql" )
          h4 Graphql
        .flex-grid-item.padding.text-center
          .stack-logo
            img(src="/images/stack/rethinkdb.png", alt="RethinkDB" )
          h4 RethinkDB
        .flex-grid-item.padding.text-center
          .stack-logo
            img(src="/images/stack/horizon.png", alt="Horizon" )
          h4 Horizon
      .text-center
        p
          | At Astrocoders we develop the most modern and
          | beautiful applications at a fast pace.
          | We use the most appropriate frameworks to help us build with quality and not compromising
          | our ability to delivery in a short period of time.

      a(href="#contact-wrapper", class="hire-us")
        | Hire us
