.article-wrapper#projects-wrapper
  h1 Our Projects
  
  article#projects
    .flex-grid.flex-grid-no-wrap
      .flex-grid-item.text-center
        img(src="http://lorempixel.com/450/250/")
        h1 Ativi.me
        p Payrolls made easy
      
      .flex-grid-item.text-center 
        img(src="http://lorempixel.com/450/250/")
        h1 Trendyshop
        p Your social marketplace
      
      .flex-grid-item.text-center
        img(src="http://lorempixel.com/450/250/")
        h1 Cleanio
        p Pressing à domicile
        
      .flex-grid-item.text-center
        img(src="http://lorempixel.com/450/250/")
        h1 Typezy
        p Head-to-head typing game
