.article-wrapper#services-article
  h1 What we do
  article#services
    .flex-grid.flex-grid-center
      .flex-grid-item
        .service.mobile-apps
        h3 Mobile Apps
        p We develop apps for Android and iOS.
      .flex-grid-item
        .service.web-apps
        h3 Web Apps
        p We develop blazing fast and reactive web applications.
      .flex-grid-item
        .service.both-apps
        h3 Both
        p Why just pick one when you can have both?
