.article-wrapper#services-article
  h1 What we do
  article#services
    .flex-grid.flex-grid-center
      .flex-grid-item
        h3 MobileApps
        p We power apps for Android and iOS.
      .flex-grid-item
        h3 WebApps
        p We power blazing fast and reactive WebApps
      .flex-grid-item
        h3 Both 
        p Why just pick one when you can have both?
