article#testimonials.testimonials
  h1 Testimonials
  .item
    img(src="/images/testimonials/person.png", alt="Astrocoders Testimonials Person")
    h2 Person Name
    p Astrocoders is awesome projecting my product from outerspace
  .item
    img(src="/images/testimonials/person.png", alt="Astrocoders Testimonials Person")
    h2 Person Name
    p Astrocoders is awesome projecting my product from outerspace
  .item
    img(src="/images/testimonials/person.png", alt="Astrocoders Testimonials Person")
    h2 Person Name
    p Astrocoders is awesome projecting my product from outerspace