article#testimonials.padding-top
  h1 Testimonials
  .flex
    .item.center
      img(src="/images/testimonials/person.png", alt="Astrocoders Testimonials Person")
      h2 Person Name
      p Astrocoders is awesome projecting my product from outerspace
    .item.center
      img(src="/images/testimonials/person.png", alt="Astrocoders Testimonials Person")
      h2 Person Name
      p Astrocoders is awesome projecting my product from outerspace
    .item.center
      img(src="/images/testimonials/person.png", alt="Astrocoders Testimonials Person")
      h2 Person Name
      p Astrocoders is awesome projecting my product from outerspace