.article-wrapper#testimonials-wrapper
  h1 Testimonials
  
  article#testimonials
    .flex-grid.flex-grid-center
      .flex-grid-item.text-center
        img(src="/images/testimonials/person.png", alt="Astrocoders Testimonials Person")
        h2 Gandalf
        p Something right isn't wrong, and that something is Astrocoders
        
      .flex-grid-item.text-center
        img(src="/images/testimonials/person.png", alt="Astrocoders Testimonials Person")
        h2 Obi-Wan
        p Astrocoders used the Source in a way that I've never seen
      
      .flex-grid-item.text-center
        img(src="/images/testimonials/person.png", alt="Astrocoders Testimonials Person")
        h2 Palpatine
        p I got unlimited awesome projects from Astrocoders
        
