.article-wrapper#why-meteor-wrapper
  h1 Why Meteor
  article#why-meteor
    .flex
      .item.sayings
        p
          | At Astrocoders we develop the most modern and
          | beautiful applications at a fast pace.
          a(href="https://meteor.com")
            b  Meteor
          |  is the framework that help us build with quality not compromising
          | our ability to delivery in a short period of time.
        p
          | Your application ideas powered by Meteor can be deployed
          | to browsers, androids, iphones, ipads and even windows phones.
        .text-center
          a(href="#contact-wrapper", class="hire-us") Hire us
      .item.padding-left.meteor-logo
        img(src="/images/meteor-logo.png", alt="Astrocoders Why Meteor")
