section
  != partial('_hero')
  != partial('_services')
  != partial('_about_us')
  != partial('_our_stack')
  != partial('_testimonials')
  != partial('_projects')
  != partial('_hire_us')
  //- != partial('_social')

//- script(src='/scripts/scroll.js')
//- script(src='/scripts/animation.js')
script(src='/scripts/hire-us-submit.js')
