header
  nav
    .logo
      a(href="#hero", class="scroll")
        //- img(src="/images/logo.png", alt="Astrocoders logo")
        p Astrocoders
    .links
      a(href="#services", class="scroll") Services
      a(href="#testimonials", class="scroll") Testimonials
      a(href='#contact', class="scroll") Contact