header
  nav
    .logo
      a(href="#hero", class="scroll")
        //- img(src="/images/logo.png", alt="Astrocoders logo")
        p Astrocoders
    .links
      a(href="#services-article", class="scroll") Services
      a(href="#testimonials-wrapper", class="scroll") Testimonials
      a(href='#contact-wrapper', class="scroll") Contact
