script.
  changeHeaderColor();
  window.onscroll = changeHeaderColor;
  function changeHeaderColor() {
    var servicesTop = document.getElementById('services-article').offsetTop - 64;
    if (window.scrollY > servicesTop) {
      document.getElementsByTagName('nav')[0].className = "active";
    } else {
      document.getElementsByTagName('nav')[0].className = "";
    }
  }
