script.
  changeHeaderColor();
  window.onscroll = changeHeaderColor;
  function changeHeaderColor() {
    var servicesTop = document.getElementById('services').offsetTop - 15;
    if (document.body.scrollTop  > servicesTop) {
      document.getElementsByTagName('nav')[0].className = "dark";
    } else {
      document.getElementsByTagName('nav')[0].className = "";
    }
  }