script.
  window.onscroll = changeHeaderColor;
  function changeHeaderColor() {
    var servicesTop = document.getElementById('services').offsetTop;
    if (document.body.scrollTop  > servicesTop) {
      console.log('add the classname dark');
      document.getElementsByTagName('nav')[0].className = "dark";
    } else {
    console.log('remove the classname dark');
      document.getElementsByTagName('nav')[0].className = "";

    }
  }